name: Update Docker Hub Description

on:
  push:
    branches: [master]
    paths:
      - '*/README.md'
  workflow_dispatch:

jobs:
  update-description:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [php-ci, drupal-ci, php-fpm]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: tavib47/${{ matrix.image }}
          readme-filepath: ./${{ matrix.image }}/README.md
